@model AdonetCoreMVC5.BilgiIslemAddViewModel



@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<form asp-controller="BilgiIslem" asp-action="Add">
    <label asp-for="BilgiIslem.Id"></label><br /><input asp-for="BilgiIslem.Id"/> <br />
    <label asp-for="BilgiIslem.Name"></label><br /><input asp-for="BilgiIslem.Name"/> <br />
    <label asp-for="BilgiIslem.Surname"></label><br /><input asp-for="BilgiIslem.Surname"/> <br />
    <label asp-for="BilgiIslem.YearsOld"></label><br /><input asp-for="BilgiIslem.YearsOld"/> <br />
    <label asp-for="BilgiIslem.Money"></label><br /><input asp-for="BilgiIslem.Money"/> <br />
    <label asp-for="BilgiIslem.Country"></label><br /> <select asp-for="BilgiIslem.Country" asp-items="Model.Sehir"></select> <br /><br />
    <label asp-for="BilgiIslemCalisan.CalisanId"></label><br /><input asp-for="BilgiIslemCalisan.CalisanId"/> <br />
    <label asp-for="BilgiIslemCalisan.CalisanAdiSoyadi"></label><br /><input asp-for="BilgiIslemCalisan.CalisanAdiSoyadi"/> <br />
    <label asp-for="BilgiIslemCalisan.CalisanYapilanIslem"></label><br /><textarea asp-for="BilgiIslemCalisan.CalisanYapilanIslem" rows="10" cols="30"></textarea> <br />
    <button type="submit">Kaydet</button>
</form>