
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IlkHtmlSayfam</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>
                Sehir
            </td>
            <td>
                İsim
            </td>
            <td>
                Soyad
            </td>
        </tr>
    </table>
</body>
</html>
