@model AdonetCoreMVC4.OgrenciBilgiAddViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<form asp-controller="OgrenciBilgiAddViewModel" asp-action="Add">
    <label asp-for="Ogrenci"></label><br /><input asp-for="Ogrenci"/> <br />
    <label asp-for="Calisan.Adi"></label><br /><input asp-for="Calisan.Adi"/> <br />
    <label asp-for="Calisan.Soyadi"></label><br /><input asp-for="Calisan.Soyadi"/> <br />
    <label asp-for="Calisan.Maas"></label><br /><input asp-for="Calisan.Maas"/> <br />
    <label asp-for="Calisan.Sehir"></label><br /> <select asp-for="Calisan.Sehir" asp-items="Model.sehirler"></select> <br /><br />
    
    <button type="submit">Kaydet</button>
</form>